.dc-smallnav{
  display: none;
}

.dc-media__portrait,
.dc-showreel__portrait{
  display: block;
}

.dc-item--info{
  display: none;
}

.dc-media__portrait,
.dc-media__landscape{
  display: none;
}

.dc-media__main{
  display: block;
}

.dc-cv-type__dissemination,
.dc-cv--title__dissemination{
  display: none;
}

.dc-mobile-nav{
  display: none;
}
.dc-showreels{
  display: none;
}