@media (min-width: 901px){
  .dc-gfx{
    width: 100% !important;
    height: 100%;
  }
  .dc-hide-on-large {
    display: none;
  }
}

@media (min-width: 901px) and (max-aspect-ratio: 10.7/7){
  .dc-media__image figure figcaption{
    transform: rotate(-90deg) translateY(-100%);
    right: 0;
    background: #000000;
    box-sizing: border-box;
    width: 100vmax;
    text-align: left;
    height: 1.2em;
    line-height: 1;
    padding-top: .2em;
  }
  html[data-dc-pagetype="focusgroup"] .dc-media__image figure figcaption{
    background: red;
  }
}

.dc-line-break-large{
  display: block;
}
.dc-line-break-small{
  display: block;
}

.dc-smallnav{
  display: none;
}

.dc-media__portrait{
  display: block;
}

.dc-item--info{
  display: none;
}

.dc-media__portrait,
.dc-media__landscape{
  display: none;
}

.dc-media__main{
  display: block;
}

.dc-mobile-nav{
  display: none;
}
.dc-showreels{
  display: none;
}

.dc-gfx svg{
  #phone-blur,
  #phone-fill{
    display: none;
  }
}

