@media (max-width: 900px){
  html, body{
    padding: 0;
  }
  html{
    //font-size: 9.5px;
    font-size: 3vw;
    line-height: 1.2;
    position: relative;
    -webkit-text-size-adjust: none;
  }
  html,
  .dc-sitenav,
  .dc-info{
    letter-spacing: -0.05em;
  }
  .dc-info--contents{
    height: calc(100% - env(safe-area-inset-bottom));
  }

  body.dc-loading{
    pointer-events: none;
    .dc-gfx{
      // animation-name: flick-in-out;
      // animation-duration: 3s;
      // animation-timing-function: ease-in-out;
      // animation-iteration-count: infinite;
      opacity: 1;
    }
  }
  body.dc-small--end-state{
    .dc-info,
    .dc-main-content{
      opacity: 0;
    }
    .dc-gfx{
      opacity: 1;
    }
  }
  .dc-external-link,
  a[href^="mailto:"],
  a[href^="http"]{
    padding-right: 0;
    &::before{
      display: none;
    }
  }
 
  .dc-biglist{
    display: none !important;
  }

  .dc-main-content{
    height: 100%;
    top: 0;   
  }

  .dc-external-link{
    padding-right: 0;
  }
  .dc-external-link:before{
    content: '';
  }

  html[data-dc-pagetype="home"] .dc-navigation-item#related-matters,
  html[data-dc-pagetype="home"][data-dc-homeactive="related-matters"] .dc-navigation-item#related-matters{
    display: none;
  }
  html[data-dc-pagetype="home"] .dc-info,
  .dc-info.active{
    display: block;
  }
  .dc-info{
    padding-top: 2.9rem;
    font-size: 1rem;       
  }
    .dc-line-break-small{
      display: block;
    }
    .dc-line-break-large{
      display: none;
    }
    .dc-bio{      
      line-height: 1.25em;
    }    
      .dc-bio .dc-hide-on-small{
        display: none;
      }

  .dc-work--year{
    display: block;
  }
  .dc-work--year .dc-work--items{
    flex-direction: column;
  }
  .dc-now{
    position: relative;
  }

  .dc-item,
  .dc-media{
    padding: 0;
    height: 100%;
    position: relative;
  }
    .dc-item--info{      
      display: block;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding: 1rem;
      padding-top: 2.9rem;
      background: #000000;
      z-index: 1;
      display: none;
      em{
        font-style: normal;
        color: #FF0000;
      } 
    }
      .dc-item__focusgroup .dc-item--info{
        background: #FF0000;
        em{
          color: #FFFFFF;
        }
      }
      .dc-item--info.active{
        display: block;
      }
    .dc-media--nav{
      display: none;
    }
    .dc-media--list{
      margin-top: 0;
      height: 100%;
    }    
      .dc-media--list img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    .dc-media{
      width: 100%;
      height: 100%;
    }
    .dc-item--info,
    .dc-media{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2
    }
    .dc-media__portrait{
      display: block;
    }

    .dc-media__main{
      display: none;
    }
    .dc-item--info{ 
      text-align: justify;
      p, ul, ol, blockquote, h1, h2, h3, h4{
        margin-bottom: 1rem;
      }
    }
    .dc-smallnav{
      position: absolute;
      left: 0;
      bottom: .8rem;
      width: 100vw;
      display: flex;
      justify-content: space-between;
      padding: 0 1rem;
      box-sizing: border-box;
      z-index: 1;
    }
      .dc-smallnav span{
        color: #FFFFFF;
      }
      .dc-smallnav .active{
        color: #FF0000;
        //animation: flick-in-out 1.6s infinite step-start;
      }
      html[data-dc-pagetype="focusgroup"] .dc-item--info  .dc-smallnav span{
        color: #000000;
      }
      html[data-dc-pagetype="focusgroup"]  .dc-item--info   .dc-smallnav .active{
        color: #FFFFFF;
      }
      .dc-item--info  .dc-smallnav :first-child,
      .dc-media--list :first-child .dc-smallnav :first-child{
        text-transform: uppercase;
      }

  .dc-sitenav{
    height: 2rem;
    display: block;
    margin-top: .2rem;
    z-index: 5;
    &:before,
    .dc-sitenav--entry__focus-groups,
    .dc-sitenav--entry__info{
      display: none;
    }
  }

  html[data-dc-pagetype="home"] .dc-sitenav a[href="/mmittee"] svg path{
    &[stroke]{
      stroke: #FF0000 !important;
    }
    &[fill]{
      fill: #FF0000 !important;
    }
  }

  .dc-item--header{
    display: none;
  }

  /* enable display of dissemination */
  .dc-cv{
    line-height: 1;
    overflow: auto;
  }
  .dc-cv--title__dissemination{
    display: initial;
  }
  .dc-cv-type__dissemination{
    display: flex;
  }

  .dc-cv--title,
  .dc-cv--entry{
    float: none;
    width: auto;
  }

    .dc-cv--title{
     height: auto;
     display: none;
     padding-right: .1em;
    }
    .dc-cv--title.dc-cv--title__includesyear{
      display: block;
    }
      .dc-cv--title.dc-cv--now{
        display: block;
      }
  .dc-cv--type,
  .dc-cv--bracket{
    display: none;
  }

  .dc-cv--entry {
    height: 1.33em;
  }

    .dc-cv--entry::before{
      bottom: 0.45em;
    }
    .dc-cv--title{
      text-indent: 0;
    }
    .dc-cv--title.dc-cv--title__includesyear{
      float: left;
    }
    .dc-cv--title__includesyear,
    .dc-cv--title__includesyear + .dc-cv--entry,
    .dc-cv--title__includesyear + .dc-cv--entry[data-dc-cv-priority="1"] + .dc-cv--entry[data-dc-cv-priority="0"]{
      margin-top: 1em;
    }
    .dc-cv--title__includesyear:first-child,
    .dc-cv--title__includesyear:first-child + .dc-cv--entry{
      margin-top: 0;
    }
    .dc-cv--title .dctxt--date:first-child{
      position: static;
    }
  
  .dc-cv.quantised-scroller .quantised-scroller--wrapper{
    &::after,
    &::before{
      display:none;
    }
  }

  .dc-info [data-dc-cv-priority="1"],
  .dc-info [data-dc-cv-priority="2"]{
    display: none;
  }

  .dc-showreels{
    display: block;
    z-index: 5;
  }
    .dc-showreels.hide{
      display: none;
    }

  .dc-showreels,
  .dc-showreel{    
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
   
  .dc-mobile-nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    display: block;
    overflow: hidden;
  }
  .dc-mobile-nav::before,
  .dc-mobile-nav::after{
    content: '';
    display: block;
    height: 100%;
    width: 100%;      
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;    
    pointer-events: none;
  }
    .dc-mobile-nav::before{
      background: linear-gradient(90deg, rgba(255,0,0,0.7) 0%, rgba(255,0,0,0) 50%);
      opacity: 0;
      transition: opacity .5s ease-in;      
    }
      html[data-dc-pagetype="focusgroup"] .dc-mobile-nav::before{
        background: linear-gradient(90deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 50%);
      }
    .dc-mobile-nav::after{
      opacity: 0;
      transition: opacity 1s ease-in-out;
      //transform: translateX(50%);
      background: linear-gradient(90deg, rgba(255,0,0,0) 50%, rgba(255,0,0,0.7) 100%);
    }
    html[data-dc-pagetype="focusgroup"] .dc-mobile-nav::after{
      background: linear-gradient(90deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0.7) 100%);
    }
    
    .dc-mobile-nav.no-further::before{
      opacity: 1;
      transition: opacity 0s linear;
    }
    .dc-mobile-nav.go-further::after{            
      opacity: 1;
    }
    html[data-dc-pagetype="focusgroup"] .dc-mobile-nav.opaque{
      background: #FF0000;
    }

    html.dc-has-gone-further .dc-mobile-nav::after{
      opacity: 0;
    }

  /* ios / notch overrides */
  .dc-item--info,
  .dc-info{
    padding-right: calc( env(safe-area-inset-right) + 1rem );
    padding-left: calc( env(safe-area-inset-left) + 1rem );
  }
  .dc-smallnav{
    bottom: calc( env(safe-area-inset-bottom) + .8rem  );
  }
  .dc-gfx{
    top: 50%;
    left: 50%; 
    width: 100vh !important;
    height: 100vw;
    transform-origin: center;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    z-index: 60;
    pointer-events: all;
    svg{
      pointer-events: none;
      #phone-blur,
      #phone-fill{
        display: initial;
      }
      #phone-blur{
        display: none;       
      }
      /* by default show the red version: */
      #red-stroke,
      #red-stroke-2,
      #red-stroke-3{
        stroke: #ff0000;
      }
      #black-stroke,
      #black-stroke-thin-3{
        stroke: #000000;
      }
    
      #black-stroke-7,
      #black-fill	{
        fill: #1D1E1B;
      }
      #red-fill{
        fill: #FC0000;
      }
      #phone-blur{
        fill: #c43131;
      }
      #phone-fill{
        fill: #ff0000;
      }
    }
    &.hidden{
      pointer-events: none;
    }
  }
  /* on focus groups show the black version */
  html[data-dc-homeactive="focus-groups"],
  html[data-dc-pagetype="focusgroup"]{
    .dc-gfx svg{
      #red-stroke,
      #red-stroke-2,
      #red-stroke-3,
      #black-stroke{
        stroke: #646464;
      }
      #black-stroke-thin-3{
        stroke: #7D7D7D;
      }
      
      #black-stroke-7,
      #black-fill,
      #phone-fill{
        fill: #000000;
      }
      #red-fill{
        fill: #111110;
      }   
      #phone-blur{
        fill: #ff0000;
      }
    }
  }
}

@media (orientation: landscape){
  .dc-media__portrait{
    display: none;
  }
  .dc-media__landscape{
    display: block;
  }
}

@media (orientation: landscape) and (max-width: 900px){  
  html{
    font-size: 3vh;
  }
  .dc-gfx{
    top: 50%;
    left: 50%; 
    width: 100vw;
    height: 100vh;
    transform-origin: center;
    transform: translateX(-50%) translateY(-50%) rotate(0);
  }
  .dc-info [data-dc-cv-priority="2"],
  .dc-info [data-dc-cv-priority="1"]{
    display: none;
  }
}

@media (max-width: 900px) and (min-height: 666px){
  .dc-info .dc-cv--entry[data-dc-cv-priority="1"]{
    display: flex;
  }
  .dc-info .dc-cv--title[data-dc-cv-priority="1"]{
    display: block;
  }
  .dc-cv--title__includesyear + .dc-cv--entry[data-dc-cv-priority="1"] + .dc-cv--entry[data-dc-cv-priority="0"] {
    margin-top: 0;
}
}