@media (min-width: 901px){
  .dc-gfx{
    width: 100% !important;
    height: 100%;
  }
  .dc-hide-on-large {
    display: none;
  }
}

.dc-line-break-large{
  display: block;
}
.dc-line-break-small{
  display: block;
}

.dc-smallnav{
  display: none;
}

.dc-media__portrait{
  display: block;
}

.dc-item--info{
  display: none;
}

.dc-media__portrait,
.dc-media__landscape{
  display: none;
}

.dc-media__main{
  display: block;
}

.dc-mobile-nav{
  display: none;
}
.dc-showreels{
  display: none;
}

.dc-gfx svg{
  #phone-blur,
  #phone-fill{
    display: none;
  }
}
