@media (max-width: 900px){
  html, body{
    padding: 0;
  }
  html{
    //font-size: 9.5px;
    font-size: 3vw;
    line-height: 1.2;
    position: relative;
    -webkit-text-size-adjust: none;
  }
  html,
  .dc-sitenav,
  .dc-info{
    letter-spacing: -0.05em;
  }

  .dc-external-link{
    padding-right: 0;
  }
  .dc-external-link:before{
    content: '';
  }

  html[data-dc-pagetype="home"] .dc-navigation-item#related-matters{
    display: none;
  }
  html[data-dc-pagetype="home"] .dc-info,
  .dc-info.active{
    display: block;
  }
  .dc-info{
    padding-top: .7em;
    font-size: 1rem;       
  }
    .dc-line-break-small{
      display: block;
    }
    .dc-line-break-large{
      display: none;
    }
    .dc-bio{      
      line-height: 1.25em;
    }    
    .dc-bio p:first-child:before{            
      font-family: antique-olive-nord, sans-serif;
      font-style: italic;
      font-weight: 400;
      line-height: 1em;
      font-size: 0.85em;
      color: #FF0000;
      content: 'now ';
    }
      .dc-bio a:last-of-type{
        display: none;
      }

  .dc-work--year{
    display: block;
  }
  .dc-work--year .dc-work--items{
    flex-direction: column;
  }
  .dc-now{
    position: relative;
  }

  .dc-item,
  .dc-media{
    padding: 0;
    height: 100%;
    position: relative;
  }
    .dc-item--info{
      display: block;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding: 1rem;
      background: #000000;
      z-index: 1;
      display: none;      
    }
      .dc-item__focusgroup .dc-item--info{
        background: #FF0000;
      }
      .dc-item--info.active{
        display: block;
      }
    .dc-media--nav{
      display: none;
    }
    .dc-media--list{
      height: 100%;
    }    
      .dc-media--list img{
        object-fit: cover;
      }
    .dc-media{
      width: 100%;
      height: 100%;
    }
    .dc-item--info,
    .dc-media{
      position: absolute;
      top: 0;
      left: 0;
    }
    .dc-media__portrait{
      display: block;
    }

    .dc-media__main{
      display: none;
    }

    .dc-item--info p,
    .dc-item--info ul,
    .dc-item--info ol,
    .dc-item--info blockquote,
    .dc-item--info h1,
    .dc-item--info h2,
    .dc-item--info h3,
    .dc-item--info h4{
      margin-bottom: 1rem;
    }
    .dc-smallnav{
      position: absolute;
      left: 0;
      bottom: .8rem;
      width: 100vw;
      display: flex;
      justify-content: space-between;
      padding: 0 1rem;
      box-sizing: border-box;
      z-index: 1;
    }
      .dc-smallnav span{
        color: #FFFFFF;
      }
      .dc-smallnav .active{
        color: #FF0000;
        //animation: flick-in-out 1.6s infinite step-start;
      }
      html[data-dc-pagetype="focusgroup"] .dc-item--info  .dc-smallnav span{
        color: #000000;
      }
      html[data-dc-pagetype="focusgroup"]  .dc-item--info   .dc-smallnav .active{
        color: #FFFFFF;
      }

  .dc-sitenav{
    display: none;
  }
  .dc-item--header{
    display: none;
  }

  /* enable display of dissemination */
  .dc-cv{
    line-height: 1;
    overflow: auto;
  }
  .dc-cv--title__dissemination{
    display: initial;
  }
  .dc-cv-type__dissemination{
    display: flex;
  }

  .dc-cv--title,
  .dc-cv--entry{
    float: none;
    width: auto;
  }
    .dc-cv--title{
     height: auto;
     display: none;
     padding-right: .1em;
    }
    .dc-cv--title.dc-cv--title__includesyear{
      display: block;
    }
      .dc-cv--title.dc-cv--now{
        display: block;
      }
  .dc-cv--type,
  .dc-cv--bracket{
    display: none;
  }
    .dc-cv--now .dc-cv--type,
    .dc-cv--now .dc-cv--bracket{
      display: inline;
    }
  .dc-cv--entry {
    height: 1.33em;
  }

    .dc-cv--entry::before{
      bottom: 0.45em;
    }
    .dc-cv--title.dc-cv--title__includesyear{
      float: left;
    }
    .dc-cv--title__includesyear,
    .dc-cv--title__includesyear + .dc-cv--entry{
      margin-top: 1em;
    }
    .dc-cv--title__includesyear:first-child,
    .dc-cv--title__includesyear:first-child + .dc-cv--entry{
      margin-top: 0;
    }
  
  .dc-showreels{
    display: block;
    z-index: 5;
  }

  .dc-showreels,
  .dc-showreel{    
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
   
  .dc-mobile-nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    display: block;
    overflow: hidden;
  }
  .dc-mobile-nav::before,
  .dc-mobile-nav::after{
    content: '';
    display: block;
    height: 100%;
    width: 100%;      
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;    
    pointer-events: none;
  }
    .dc-mobile-nav::before{
      background: linear-gradient(90deg, rgba(255,0,0,0.7) 0%, rgba(255,0,0,0) 50%);
      opacity: 0;
      transition: opacity .5s ease-in;      
    }
      html[data-dc-pagetype="focusgroup"] .dc-mobile-nav::before{
        background: linear-gradient(90deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 50%);
      }
    .dc-mobile-nav::after{
      opacity: 1;
      transition: opacity .25s ease-out;
      transform: translateX(50%);
      background: linear-gradient(90deg, rgba(255,0,0,0) 80%, rgba(255,0,0,0.7) 100%);
    }
    html[data-dc-pagetype="focusgroup"] .dc-mobile-nav::after{
      background: linear-gradient(90deg, rgba(0,0,0,0) 80%, rgba(0,0,0,0.7) 100%);
    }
    
    .dc-mobile-nav.no-further::before{
      opacity: 1;
      transition: opacity 0s linear;
    }
    .dc-mobile-nav.go-further::after{            
      animation: go-further 4.5s ease-in-out; 
    }
    html[data-dc-pagetype="focusgroup"] .dc-mobile-nav.opaque{
      background: #FF0000;
    }

    html.dc-has-gone-further .dc-mobile-nav::after{
      opacity: 0;
    }

  /* ios / notch overrides */
  .dc-item--info,
  .dc-info{
    padding-right: calc( env(safe-area-inset-right) + 1rem );
    padding-left: calc( env(safe-area-inset-left) + 1rem );
  }
  .dc-smallnav{
    bottom: calc( env(safe-area-inset-bottom) + .8rem  );
  }
}

@media (orientation: landscape){
  .dc-media__portrait,
  .dc-showreel__portrait{
    display: none;
  }
  .dc-media__landscape,
  .dc-showreel__landscape{
    display: block;
  }
}

@media (orientation: landscape) and (max-width: 900px){
  html{
    font-size: 3vh;
  }
}