html[data-dc-homeactive="focus-groups"],
html[data-dc-pagetype="focusgroup"]{
  background: #FF0000;
  .dc-sitenav{
    color: #000000;
  }
  .dc-sitenav a:hover{
    color: #FFFFFF
  }
  .dc-sitenav a.active{
    color: #FFFFFF;
  }
  .dc-sitenav a::after{
    color: #000000;
  }
  .dc-sitenav::before{
    background: #FF0000;
  }
  .dc-sitenav a[data-dc-localtarget="#related-matters"]{ 
    svg path{
      fill: #000000;
    }
    &:hover{
      svg path{
        fill: #FFFFFF;
      }
    }
  }
}

html[data-dc-pagetype="focusgroup"]{
  background: #FF0000;
  color: #000000;
  .dc-work--year h2{
    color: #FFFFFF;
  }
  .dc-external-link::before,
  a[href^="mailto:"]::before,
  a[href^="http"]::before{
    color: #000000;
  }
  .dc-item--header{
    color: #FFFFFF;
  }
  .dc-media--list li{
    background: #FF0000;
  }
  .dc-media--nav ol li:hover,
  .dc-media--nav ol li.active{
    color: #FFFFFF;
  }
  .dc-media--nav ol li:hover:after,
  .dc-media--nav ol li.active:after{
    color: #000000;
  }
  .dc-media__playable.playing{
    color: #FFFFFF;
  }
  .dc-gfx{
    .dc-edit-fill{
      fill: #FF0000;
    }
    .dc-edit-stroke{
      stroke: #FF0000;
    }
  }
}



html[data-dc-homeactive="focus-groups"]{
  .dc-gfx{
    .dc-edit-fill{
      fill: #FF0000;
    }
    .dc-edit-stroke{
      stroke: #FF0000;
    }
  }
}


.dc-navigation-item#focus-groups{
  background: #FF0000;
  color: #000000;
  .dc-work--year h2{
    color: #FFFFFF;
  }
  a:hover{
    color: #FFFFFF
  }
  .dc-worknav .current{
    color: #FFFFFF;
  }
  .dc-work--year .dc-work--items > *::after{
    color: #000000;
  }
}