.dc-gfx{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  pointer-events: none;
  svg{
    width: 100%;
    height: 100%;
  }

  // .dc-edit-fill{
  //   fill: #050505;
  // }
  // .dc-edit-stroke{
  //   stroke: #050505;
  // }

  svg{
    #red-stroke,
    #red-stroke-2,
    #red-stroke-3,
    #black-stroke{
      stroke: #646464;
    }
    #black-stroke-thin-3{
      stroke: #7D7D7D;
    }
   
    #black-stroke-7,
    #black-fill	{
      fill: #000000;
    }
    #red-fill{
      fill: #111110;
    }   
  }

  &.hidden{
    opacity: 0;
  }
  &.visible{
    opacity: 1;
  }
}
.dc-sitenav a[data-dc-localtarget="#related-matters"] svg{
  opacity: 0;
  &.hidden{
    opacity: 0;
  }
  &.visible{
    opacity: 1;
  }
}