.dc-gfx{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  pointer-events: none;
  svg{
    width: 100%;
    height: 100%;
  }

  .dc-edit-fill{
    fill: #050505;
  }
  .dc-edit-stroke{
    stroke: #050505;
  }

  &.hidden{
    opacity: 0;
  }
  &.visible{
    opacity: 1;
  }
}
.dc-sitenav a[data-dc-localtarget="#related-matters"] svg{
  opacity: 0;
  &.hidden{
    opacity: 0;
  }
  &.visible{
    opacity: 1;
  }
}