.dc-item{
  height: calc( 100% - 1.667rem );
}

.dc-item--header{
  bottom: 0;
  position: absolute;
  z-index: 1;
  padding: .3rem $dc_site_padding_right .45rem $dc_site_padding_left;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: center;
  color: #FF0000;
}  
  .dc-item--header .dctxt--date{
    margin-right: 0.1em;
  }

.dc-media{
  height: calc(100% - 1.5rem);  
  display: none;
}
  .dc-media--list{
    height: calc(100% - 4rem);
    overflow: hidden;
    position: relative;
  }
  .dc-media--list li{
    height: 100%;
    position: absolute;
    background: #000000;
    width: 100%;
    top: 0;
    opacity: 0;
    pointer-events: none;    
    overflow: hidden;
  }
  .dc-media--list li img{
    transform: translateZ(0) translateY(-50%);
    image-rendering: crisp-edges;    
    top: 50%;
    position: relative;
  }
    .dc-media--list li img.loaded{
      image-rendering: auto;
    }
  .dc-media--list li.active{
    opacity: 1;
    pointer-events: all;
  }
  .dc-media--list figure{
    width: 100%;
    height: 100%;
  }

  .dc-media__image{
    display: flex;
    justify-content: center;
  }
    .dc-media__image figure{
      position: relative;
      width: auto;
    }
    .dc-media__image figure figcaption{
      position: absolute;
      left: 100%;
      top: 50%;      
      width: 100%;
      text-align: center;
      white-space: nowrap;
      transform-origin: center;
      margin-left: 1rem;
      transform: translateX(-50%) translateY(-50%) rotate(90deg);
    }
    .dc-media__image img{
      width: auto;
      height: 100%;
      object-fit: contain;
    }

  .dc-media--list .info,
  .dc-media--list .dc-media__text{
    display: flex;
    align-items: center;
  }
  .dc-media--list .info .text,
  .dc-media--list .dc-media__text .text{
    width: 100%;
  }
  .dc-media--list figure{
    margin: 0;
    padding: 0;
  }
  .dc-media--nav{
    margin-top: 2rem;
  }
  .dc-media--nav ol{
    padding-left: .2rem; 
    display: flex;
    justify-content: space-between;
  }

  .dc-media--nav ol li:hover,
  .dc-media--nav ol li.active{
    color: #FF0000;
  }
  .dc-media--nav ol li:hover:after,
  .dc-media--nav ol li.active:after{
    color: #FFFFFF;
  }  

  .dc-media--play,
  .dc-media--link{
    cursor: pointer;
  }
  .dc-media--play{
    width: 2rem;
  }
 