/* the menu across the top of large site */
.dc-sitenav{
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
  padding: .3rem $dc_site_padding_right .2rem $dc_site_padding_left;
}
  .dc-sitenav::before {
    content: '';
    background: #000;
    display: block;
    position: absolute;
    width: 100vw;
    height: 2.8rem;
    z-index: -1;
    top: -0.3rem;
    left:0;
  }
  .dc-sitenav a{
    height: 1.65rem;
  }
    .dc-sitenav a::after{
      content: ',';
      color: #FFFFFF;
    }
      .dc-sitenav a:last-child::after{
        content: '';
      }
      .dc-sitenav a.active{
        color: #FF0000;
      }
      html[data-dc-pagetype="home"][data-dc-homeactive="related-matters"] .dc-sitenav a[href="/mmittee"],
      html[data-dc-pagetype="home"][data-dc-homeactive="dissemination"] .dc-sitenav a[href="/mmittee/dissemination"],
      html[data-dc-pagetype="home"][data-dc-homeactive="info"] .dc-sitenav a[href="/mmittee/info"],
      html[data-dc-pagetype="relatedmatter"] .dc-sitenav a[href="/mmittee"],
      html[data-dc-pagetype="dissemination"] .dc-sitenav a[href="/mmittee/dissemination"],
      html[data-dc-pagetype="null"] .dc-sitenav a[href="/mmittee/info"]{
        color: #FF0000;
      }
      html[data-dc-pagetype="home"][data-dc-homeactive="focus-groups"] .dc-sitenav a[href="/mmittee/focus-groups"],
      html[data-dc-pagetype="focusgroup"] .dc-sitenav a[href="/mmittee/focus-groups"]{
        color: #FFFFFF;        
      }      
      html[data-dc-pagetype="home"][data-dc-homeactive="focus-groups"] .dc-sitenav a[href="/mmittee/focus-groups"],
      html[data-dc-pagetype="home"][data-dc-homeactive="related-matters"] .dc-sitenav a[href="/mmittee"],
      html[data-dc-pagetype="home"][data-dc-homeactive="dissemination"] .dc-sitenav a[href="/mmittee/dissemination"],
      html[data-dc-pagetype="home"][data-dc-homeactive="info"] .dc-sitenav a[href="/mmittee/info"]{
        pointer-events: none;
      }


/* the dropdowns / lists */
.dc-navigation-item{
  position: absolute;
  width: 100%;
  background: #000000;
  z-index: 10;
  display: none;
  padding: 0 $dc_site_padding_right .3rem $dc_site_padding_left;  
}
  html[data-dc-pagetype="home"],
  html[data-dc-pagetype="home"][data-dc-homeactive="related-matters"]{
    .dc-navigation-item#related-matters{
      display: block;
    }
  }
  html[data-dc-pagetype="home"][data-dc-homeactive="focus-groups"]{ 

    .dc-navigation-item#focus-groups{
      display: block;
    }
  }
  html[data-dc-pagetype="home"][data-dc-homeactive="dissemination"]{ 
    .dc-navigation-item#dissemination{
      display: block;
    }
  }
  html[data-dc-pagetype="home"][data-dc-homeactive="info"]{
    .dc-navigation-item#related-matters{
      display: none;
    }
    #info{
      display: block;
    }
  }

/* work lists */
.dc-work{  
  list-style-type: none;
  padding-top: 5.6rem;  
  margin: 0 0 0 0;
  height: calc(100% - 2.2rem);
  box-sizing: border-box;
}
  .dc-work--year{
    display: flex;
    justify-content: flex-start;   
    align-items: baseline; 
  }
  .dc-work--year h2{
    position: relative;
    margin: 0 .075em 0 0;
    color: #FF0000;
    white-space: nowrap;    
  }
  .dc-work--year .dc-work--items{
    flex-grow: 2;
    display: flex;
    justify-content: space-between;    
  }   
    .dc-work--year .dc-work--items > *::after{
      color: #FFFFFF;
    }
    .dc-work--year .dc-work--items > *:only-child{
      flex-grow: 2;
      /* related to safari no justify last line fix*/
      margin-bottom: -1em;
    }    
    /* fix safari no justify last line */
    .dc-work--year .dc-work--items > *:only-child:after {
      content: "";
      display: inline-block;
      width: 100%;
    }
      /* and undo it on dissemination because it goes weird there in other browsers */
     .dc-work--year .dc-work--items.dc-dissemination-item > *:only-child{
       margin-bottom: 0;
     }

/* related matters */
/* now */
.dc-biglist--now{
  position: absolute;
  width: 98%;
  top: auto;
  bottom: 0;
}
  .dc-biglist--now a{
    display: flex;
    width:100%;
    box-sizing: border-box;
    align-items: baseline; 
  }
  .dc-biglist--now h2{
    position: relative;
    margin-bottom: .1em;
  }
  .dc-biglist--now .dc-cv--entry{
    height: 1.07em;
    line-height: 1;
  }
    .dc-biglist--now .dc-cv--entry::before{
      bottom: 0.45em;
    }
    .dc-biglist--now .dc-cv--location{
      padding-left: 0;
    }

/* dissemination */
.dc-dissemination--info{
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 1em;
}
