@import "_reset.scss";

@import "_keyframes.scss";

@import "_base.scss";
@import "_type.scss";

@import "_sitenav.scss";
@import "_project.scss";
@import "_info.scss";
@import "_focus-groups.scss";

@import "_gfx.scss";

@import "_conditional_large.scss";
@import "_conditional_small.scss";

@import "_interactions.scss";

::-moz-selection { 
  color: #FF0000; 
}
::selection { 
  color: #FF0000; 
}
[data-dc-pagetype="focusgroup"] ::-moz-selection{
  color: #FFFFFF;
}
[data-dc-pagetype="focusgroup"] ::selection{
  color: #FFFFFF;
}
[data-dc-pagetype="focusgroup"] a::selection{
  color: #FFFFFF;
}  
[data-dc-pagetype="focusgroup"] a::-moz-selection{
  color: #FFFFFF;
}
