/*
small type is 18pt w/line height 25pt -> 1.389em
large type is 28pt (was 30pt) -> 1.556rem w/ line height 40pt -> 1.429em 
massive type is 56pt -> 3.111rem w/line height 64pt -> 1.142em
*/

html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.dc-cursor{
  display: none;
  position: fixed;
  margin-left: -14px;
  margin-top: -8px;
  font-size: 1.556rem;
  width: 40px;
  height: 40px;
  //border: 1px solid white;
  z-index: 99;
  pointer-events: none;
  background-image: url('../images/cursor1.png');
  background-size: 17px;
  background-repeat: no-repeat;
}
  body.dc-cursor--active .dc-cursor{
    display: block;
  }

html{
  font-family: "Adobe Myungjo Std", serif;
  font-weight: 100;
  /* font-size: 17px;
  font-size: 1.405vw; */
  font-size: 16px;
  font-size: 1.322vw;
  line-height: 1.389em;
  letter-spacing: -.1em;
  background: #000000;
  color: #FFFFFF;
}
body{
  /* padding: .3em 1em .3em .8em; */
  min-height: 100%;
}

ul, ol, dl, p, h1, h2, h3, h4, h5, h6{
  margin:0;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;  
}
  a:hover{
    color: #FF0000;
  }

  .dctxt--date{
    //font-family: "Oriya MN";
    //letter-spacing: -.145em;
    font-family: 'Antique Olive Std', sans-serif;
    font-size: 0.85em;
    font-weight: normal;        
  }
  .dctxt--worktype{
    text-transform: lowercase;
  }
  .dctxt--at{
    transform: scaleX(0.6);
    display: inline-block;
    margin-left: -0.18em;
    margin-right: -0.2em;
  }

.dc-sitenav{
  position: relative;
  z-index: 2;
  font-size: 1.556rem;
  line-height: 1.429em;
  display: flex;
  justify-content: space-between;
  line-height: 1;
  margin-bottom: 0.25rem;
  padding: .3rem 1rem .3rem .8rem;
}
.dc-sitenav::before {
  content: '';
  background: #000;
  display: block;
  position: absolute;
  width: 100vw;
  height: 2.8rem;
  z-index: -1;
  top: -0.3rem;
  left:0;
}
  .dc-sitenav a:after{
    content: ',';
  }
    .dc-sitenav a:last-child:after{
      content: '';
    }
    .dc-sitenav a.active{
      color: #FF0000;
    }

.dc-navigation-item{
  position: absolute;
  width: 100%;
  background: #000000;
  z-index: 10;
  display: none;
  padding: 0 1rem .3rem .8rem;
}
  html[data-dc-pagetype="home"] .dc-navigation-item#related-matters{
    display: block;
  }

.dc-main-wrap{
  padding: 0 1rem .3rem .8rem;
}

.dc-work{
  font-size: 3.111rem;
  line-height: 1.142em;
  padding-top: 5.6rem;
  list-style-type: none;
  margin: 0 0 0 0;
  height: calc(100% - 2.2rem);
  box-sizing: border-box;
}
  .dc-work--year{
    display: flex;
    justify-content: flex-start;    
  }
  .dc-work--year h2{
    position: relative;
    font-size: 3.111rem;
    top: .2rem;    
    font-family: 'Antique Olive Std', sans-serif;
    font-size: 0.85em;
    font-weight: normal; 
    display: inline;
    margin: 0;
    color: #FF0000;
  }
  .dc-work--year .dc-work--items{
    flex-grow: 2;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
  }
    .dc-work--year .dc-work--items > *{
      text-align: justify;
      text-align-last: justify;
      
    }
    .dc-work--year .dc-work--items > *:only-child{
      flex-grow: 2;
    }
    .dc-work--year .dc-work--items > *:after{
      content: ',';
    }
    .dc-work--year .dc-work--items > *:last-child:after{
      content: '';  
    }
    .dc-external-link{
      position: relative;
      padding-right: .4em;
    }
    .dc-external-link:before{
      content: '↗';
      position: absolute;
      font-size: 0.5em;
      top: -.4em;
      right: 0;
    }
    .dc-external-link:after{
      position: absolute;
      left: 100%;
    }

  .dc-biglist--now{
    position: absolute;
    width: 98%;
    top: auto;
    bottom: 0;
    text-align: justify;
    text-align-last: justify;
    white-space: nowrap;
  }
  .dc-biglist--now a{
    display: block;
    width:100%;
    box-sizing: border-box;
  }

.dc-dissemination{

}
  .dc-dissemination--info{
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .dc-dissemination--info:before{
    position: absolute;    
    content: '';
    border-bottom: .1em dotted;
    bottom: 0.17em;
    left: 2rem;
    right: 2rem;
  }
  .dc-dissemination--name,
  .dc-dissemination--location{
    background: #000000;
    z-index: 1;
  } 
    .dc-dissemination--name{
      padding-right: .2em;
    }
    .dc-dissemination--location{
      padding-left: .2em;
    }

.dc-item{
  height: calc( 100% - 1.667rem );
}

.dc-worknav{
  bottom: 0;
  position: absolute;
  z-index: 1;
  padding-left: 0;
  padding-right: 0;
  left: 1rem;
  right: 0.8rem;
  box-sizing: border-box;
  text-transform: uppercase;
  display: flex;
}
  .dc-worknav a{
    white-space: nowrap;
    flex-shrink: 2;
    text-overflow: clip;
  }
  .dc-worknav .current{
    color: #FF0000;
  }

.dc-media{
  height: calc(100% - 1.5rem);  
  display: none;
}
  .dc-media--list{
    height: calc(100% - 6.8rem);
    overflow: hidden;
    position: relative;
  }
  .dc-media--list li{
    height: 100%;
    position: absolute;
    background: #000000;
    width: 100%;
    top: 0;
    opacity: 0;
    pointer-events: none;    
    overflow: hidden;
  }
  .dc-media--list li img{
    transform: translateZ(0);
    image-rendering: crisp-edges;
  }
    .dc-media--list li img.loaded{
      image-rendering: auto;
    }
  .dc-media--list li.active{
    opacity: 1;
    pointer-events: all;
  }
  
  .dc-media--list img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .dc-media--list .info,
  .dc-media--list .dc-media__text{
    display: flex;
    align-items: center;
  }
  .dc-media--list .info .text,
  .dc-media--list .dc-media__text .text{
    width: 100%;
    columns: 3;
    column-gap: 1.8em;
  }
  .dc-media--list .info p{
    break-after: always;
    text-align: justify;
  }

  .dc-media--nav{
    margin-top: 2rem;
  }
  .dc-media--nav ol{
    padding-left: 1.4rem;
    list-style-type: upper-alpha;
    display: flex;
    justify-content: space-between;
  }
  .dc-media--nav ol li{
    
  }
  .dc-media--nav ol li.info,
  .dc-media--nav ol li.dc-media__audio{
    list-style-type: none;
  }
  .dc-media--nav ol li:hover,
  .dc-media--nav ol li.active{
    color: #FF0000;
  }
  /* .dc-media--nav ol li:after{
    font-size: 1rem;
    white-space: unset;
    content: ',';
  } */
  .dc-media--nav ol li:last-child:after{
    content: '';
  }
  .dc-media--play,
  .dc-media--link{
    cursor: pointer;
  }
  .dc-media--play{
    font-size: 0;
    width: 2rem;
  }
    .dc-media--play:before{
      position: absolute;
      font-size: 1rem;
      content: 'play';
    }
    .dc-media--play.playing:before{
      content: 'pause';
    }

    @keyframes mediaplay{
      0%{
        opacity: 1;
      }
      50%{
        opacity: 0;
      }
      100%{
        opacity: 1;
      }
    }

    .dc-media--play.playing{
      color: #FF0000;
      animation: mediaplay 1.6s infinite step-start;
    }
    .dc-media--play.playing:hover{
      animation-play-state: paused;
      opacity: 1 !important;
    }

  .dc-media__portrait,
  .dc-showreel__portrait{
    display: block;
  }
  @media (orientation: landscape){
    .dc-media__portrait,
    .dc-showreel__portrait{
      display: none;
    }
    .dc-media__landscape,
    .dc-showreel__landscape{
      display: block;
    }
  }

    @media (min-width: 900px){
      .dc-item--info{
        display: none;
      }
      .dc-media__portrait,
      .dc-media__landscape{
        display: none;
      }
      .dc-media__main{
        display: block;
      }
    }
  .dc-smallnav{
    display: none;
  }

  .dc-info{
    padding: 0 1rem .3rem .8rem;
    font-size: 1.556rem; 
    line-height: 1.429em;
    overflow: hidden;
    padding-bottom: 3.999em;    
    padding-top: 2.6rem;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: #000000;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }


  .dc-bio{
    text-align: justify;
    text-align-last: justify;   
    background:#000;
    padding-bottom: 1.429em; 
    position: relative;
    z-index: 1;
  }

  .dc-cv{
    position: relative;
    z-index: 2;
    width: 100%; 
    margin-top: 0; /*1.429em;*/
    overflow: scroll;    
  }
    .dc-cv.quantisedScroller{
      height: auto;
      overflow: hidden; 
      position: relative;
      cursor: none;
    }
    .dc-cv.quantisedScroller a{
      cursor: none;
    }
    .dc-cv.quantisedScroller dl{
      overflow: hidden;
      position: relative;
    }
  .dc-cv--now{
    color: #FF0000;
  }
  .dc-cv--title{ 
    width: 20%;
    float: left;
    clear: both;
    height: 1.429em;
  }
  .dc-cv--entry{
    height: 1.429em;
    text-align: justify;
    text-align-last: justify;
    padding: 0;
    margin: 0;
    width: 80%;    
    display: flex;
    justify-content: space-between;
    float: right;
    overflow: hidden;
    position: relative;
  }
  .dc-cv--entry > a{
    flex-grow: 2;
    display: flex;
    justify-content: space-between;
  }
  .dc-cv--entry:before{
    position: absolute;    
    content: '';
    border-bottom: .12em dotted;
    bottom: .27em;
    left: 2rem;
    right: 2rem;
  }
  .dc-cv--name{    
    background: #000000;
    z-index: 1;
    padding-right: .2em;
  }
  
  .dc-cv--location{
    position: relative;
    background: #000000;
    z-index: 1;
    padding-left: .2em;
  }


.dc-list-hoverimg{
  position: relative;
}
.dc-list-hoverimg img{
  position: absolute;
  pointer-events: none;
  left: 50%;
  top: -2rem;
  transform: translateX( -50% );
  width: 40%;
  opacity: 0;
  z-index: 10;
}
  .dc-list-hoverimg:hover{
    overflow: visible;
    z-index: 99;
  }
  .dc-list-hoverimg:hover img{
      opacity: 1;
    }

@keyframes outFrames{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.out1{
  animation: outFrames 0 step-start forwards;
}
.out2{
  animation: outFrames .5s .5s step-start forwards;
}
.out3{
  animation: outFrames .5s .8s step-start forwards;
}

/* ************************************* 
CONDITIONAL THINGS
************************************** */

/* CV DISSEMINATION */
.dc-cv-type__dissemination,
.dc-cv--title__dissemination{
  display: none;
}

/* FOCUS GROUPS */
/*
  html[data-dc-pagetype="focusgroup"]
    set by the template
  
  html.dc-pagetype--focusgroup
    set by the dropdown menu selection

  .dc-navigation-item#focus-groups
    conditional styling within the dropdown menu
*/

html[data-dc-pagetype="focusgroup"],
.dc-navigation-item#focus-groups{
  background: #FF0000;
  color: #000000;
}
html[data-dc-pagetype="focusgroup"] .dc-sitenav{
  color: #000000;
}
  html[data-dc-pagetype="focusgroup"] .dc-sitenav a.active{
    color: #FFFFFF;
  }
html[data-dc-pagetype="focusgroup"] .dc-sitenav::before{
  background: #FF0000;
}
html[data-dc-pagetype="focusgroup"] .dc-work--year h2,
.dc-navigation-item#focus-groups .dc-work--year h2{
  color: #FFFFFF;
}
html[data-dc-pagetype="focusgroup"] a:hover,
.dc-navigation-item#focus-groups a:hover{
  color: #FFFFFF
}

html[data-dc-pagetype="focusgroup"] .dc-worknav .current,
.dc-navigation-item#focus-groups .dc-worknav .current{
  color: #FFFFFF;
}
html[data-dc-pagetype="focusgroup"] .dc-media--list li{
  background: #FF0000;
}
html[data-dc-pagetype="focusgroup"] .dc-media--nav ol li:hover,
html[data-dc-pagetype="focusgroup"] .dc-media--nav ol li.active{
  color: #FFFFFF;
}

/* SMALL SITE */
.dc-mobile-nav{
  display: none;
}
.dc-showreels{
  display: none;
}
@media (max-width: 900px){
  html, body{
    padding: 0;
  }
  html{
    //font-size: 12px;
    font-size: 6px;
    position: relative;
  }
  html[data-dc-pagetype="home"] .dc-navigation-item#related-matters{
    display: none;
  }
  html[data-dc-pagetype="home"] .dc-info,
  .dc-info.active{
    display: block;
  }
  .dc-info{
    font-size: 1rem;
  }
  .dc-work{
    
  }
  .dc-work--year{
    display: block;
  }
  .dc-work--year .dc-work--items{
    flex-direction: column;
  }
  .dc-now{
    position: relative;
  }

  .dc-item,
  .dc-media{
    padding: 0;
    height: 100%;
    position: relative;
  }
    .dc-item--info{
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding: 1rem;
      background: #000000;
      z-index: 1;
      display: none;      
    }
      .dc-item--info.active{
        display: block;
      }
    .dc-media--nav{
      display: none;
    }
    .dc-media--list{
      height: 100%;
    }    
      .dc-media--list img{
        object-fit: cover;
      }
    .dc-media{
      width: 100%;
      height: 100%;
    }
    .dc-item--info,
    .dc-media{
      position: absolute;
      top: 0;
      left: 0;
    }

    .dc-smallnav{
      position: absolute;
      left: 0;
      bottom: 3rem;
      width: 100vw;
      display: flex;
      justify-content: space-between;
      padding: 0 1rem;
      box-sizing: border-box;
      z-index: 1;
    }
      .dc-smallnav span{
        color: #FFFFFF;
      }
      .dc-smallnav .active{
        color: #FF0000;
        text-shadow: red;
      }

  .dc-sitenav{
    display: none;
  }
  .dc-worknav a:not(.current){
    display: none;
  }

  .dc-cv-type__dissemination,
  .dc-cv--title__dissemination{
    display: initial;
  }
  
  .dc-showreels{
    display: block;
    z-index: 5;
  }

  .dc-showreels,
  .dc-showreel{    
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
   
  .dc-mobile-nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    display: block;
  }
    .dc-mobile-nav.opaque{
      background: #000000;
    }
    html[data-dc-pagetype="focusgroup"] .dc-mobile-nav.opaque{
      background: #FF0000;
    }

  /* ios / notch overrides */
  .dc-item--info,
  .dc-info{
    padding-right: calc( env(safe-area-inset-right) + 1rem );
    padding-left: calc( env(safe-area-inset-left) + 1rem );
  }
  .dc-smallnav{
    bottom: calc( env(safe-area-inset-bottom) + 3rem  );
  }
}