<article class="dc-info" id="info">
  <div class="dc-info--contents">
    <section class="dc-bio">
        {{{contents.bio}}}
    </section>
    <div class="dc-cv dc-small-chunk">
      {{> cv cv=contents.cv}}
    </div>   
  </div>
</article>